.academics-container {
    background-color: #afc2e6;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .academics-heading {
    color: black;
    font-size: 56px;
    font-weight: bold;
  }
  