.contact-us-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  text-align: center; /* Center the heading on all screens */
  width: 100%;
  font-size: 3rem;
  margin-bottom: 40px;
}

.contact-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contact-card {
  flex: 1 1 22%;
  background-color: #afc2e6;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 2px solid black;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #3335a0;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Added gap for better spacing */
}

.contact-form-card,
.contact-description-card {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #7093d3;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: #5755bd;
}

.contact-description-card h2 {
  margin-bottom: 25px;
}

.contact-description-card p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center the social icons on all screens */
  gap: 15px;
}

.social-icon {
  font-size: 1.5rem;
  color: black;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #6653ce;
}

/* Responsive Design for Tablets */
@media (max-width: 768px) {
  .contact-heading {
    font-size: 2.5rem; /* Adjust heading size on tablets */
  }

  .contact-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    flex: 1 1 80%;
    margin: 10px 0;
  }

  .contact-info-container {
    flex-direction: column;
    height: auto; /* Allow height to adjust automatically on tablets */
  }

  .contact-form-card,
  .contact-description-card {
    margin: 10px 0;
  }
}

/* Responsive Design for Phones */
@media (max-width: 480px) {
  .contact-heading {
    font-size: 2rem; /* Adjust heading size on phones */
  }

  .contact-card {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .contact-info-container {
    flex-direction: column;
  }

  .contact-form-card,
  .contact-description-card {
    margin: 10px 0;
  }
}
