.event-page {
    text-align: center;
    margin: 50px 20px;
  }
  
  .Eventheading {
    font-size: 46px;
    color: #7889c2;
    margin-bottom: 20px;
  }
  
  .event-subheading {
    font-size: 24px;
    color: bold  black;
    margin-bottom: 40px;
    font-weight: 300;
  }
  
  .event-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .event-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 20px 0;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .event-card:hover {
    transform: translateY(-10px);
  }
  
  .event-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 4px solid black;
  }
  
  .event-video {
    width: 100%;
    height: auto;
    border-bottom: 4px solid black;
  }
  
  .event-description {
    padding: 20px;
    font-size: 18px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .event-card {
      width: 100%;
    }
  }
  