/* Container styling */
.login-container {
    max-width: 600px;
    margin: 150px auto;
    padding: 30px;
    text-align: center;
    background-color: #e2b273;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading styling */
  .login {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  /* Form styling */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .login-form input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  /* Button styling */
  .submit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Signup link styling */
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .signup-link a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  