.academic-schedule {
  text-align: center;
  margin-bottom: 90px;
  
}

.buttons {
  margin: 20px 0;
}

button {
  background-color: #e9bd91;
  color: 3px solid black;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9f7a5e;
}

.routine-container {
  margin-top: 20px;
}

.routine-table {
  width: 70%;
  margin: 0 auto;
  
  font-family: Arial, sans-serif;
  border: 2px solid black;
  border-radius: 8px;
}

.routine-table th, .routine-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.routine-table th {
  background-color: #e7bc91;
  color: black;
}

.routine-table tr:hover {
  background-color: #f5f5f5;
}
