.footer {
    background-color: #afc2e6;
    color: white;
    padding: 20px;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Align content to the left */
  }
  
  .school-name {
    font-size: 2.5rem;
    margin: 10px 0;
    color: black;
  }
  
  .school-address,
  .contact-numbers {
    font-size: 1rem;
    margin: 5px 0;
    color: black;
  }
  
  .social-media {
    margin-top: 15px;
  }
  
  .social-icon {
    margin: 0 10px;
    font-size: 1.2rem; /* Reduced size of the icons */
    color: rgb(3, 3, 3);
    transition: color 0.3s ease;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none; /* Remove underline from the icon words */
  }
  
  .social-icon:hover {
    color: #963d22;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 1rem;
    color: black;
    text-align: center; /* Center align the copyright text */
  }
  