.quick-links-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.parent-card {
  border-radius: 35px;
  padding: 80px;
  width: 80%;
  max-width: 1750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid black;
  background-color: #db9176;
}

.child-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.Quickheading {
  color: black;
}

.child-card {
  background-color: #afc2e6;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 45%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.child-card:hover {
  background-color: #8e95f7;
}

.child-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.child-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.quick-links-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color: black;
}

p {
  font-size: 20px;
  color: #666;
  margin: 10px 0;
}

.child-link {
  text-decoration: none;
  color: #5755bd;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.child-link:hover {
  text-decoration: underline;
}

/* Responsive Design for Tablets */
@media (max-width: 768px) {
  .child-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Adjust gap between child cards */
  }

  .child-card {
    width: 80%;
    max-width: 400px;
  }

  .quick-links-heading {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  .icon {
    font-size: 1.8em;
  }
}

/* Responsive Design for Phones */
@media (max-width: 480px) {
  .parent-card {
    padding: 50px;
    width: 90%;
  }

  .child-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust gap between child cards */
  }

  .child-card {
    width: 100%;
    max-width: 350px;
    padding: 15px;
  }

  .quick-links-heading {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .child-image {
    width: 70px;
    height: 70px;
  }

  .icon {
    font-size: 1.6em;
  }

  p {
    font-size: 16px;
  }
}
